body {
    background-color: darkgray;
}

#date {
    text-align: center;
    font-size: 23px;
    margin-top: 30px;
    color: orangered;
    font-weight: bolder;
}

#summary {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}

#content {
    text-indent:2em;
    font-size: 15px;
    margin-right: 10px;
}

